:root {
  --background: #050505;
  --text: #fafafa;
  --primary: #1e324d;
  --secondary: #0e1825;
  --accent: #91add4;
}

nav {
  width: 90%;
  margin: 2% auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 2% 0;
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-bottom: 1px solid var(--accent);
}

nav img {
  width: 85px;
  height: 80px;
  margin-top: -1%;
  margin-right: 2%;
  margin-left: 5%;
  margin-bottom: 1%;
}

nav h1 {
  width: 1500px;
  max-width: 1500px;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 2px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  width: 1500px;
  margin-right: 20px;
}

.nav-item {
  height: min-content;
  margin: 1.5% 2%;
}

.nav-item > * {
  width: max-content;
  text-decoration: none;
  color: var(--text);
}

.nav-item:last-child {
  padding-left: 3%;
  border-left: 1px solid var(--accent);
}

.nav-item *:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
}
